* {
  position: relative;
  background-color: #D2D2D2;
}

/* .container {
  position: absolute;
  width: 385px;
  height: 950px;
  left: 41px;
  top: 37px;
  background: #3D3D3D;
  border-radius: 10px;
} */